/* ==========================================================================
   Button Components
   ========================================================================== */

@layer components {
  /* Buttons */
  .btn {
    border-radius: 0px;
    display: inline-flex;
    align-items: center;
    padding: 24px;
    font-weight: 500 !important;
    color: var(--color-white);
    /* box-shadow: var(--shadow-md); */

    &:hover {
      @media (hover: hover) {
        color: var(--color-white);
        cursor: pointer;
      }
    }
  }
  /* End Buttons */
}
