/* ==========================================================================
   Button Components
   ========================================================================== */

@layer components {
  /* Buttons */
  .btn {
    border-radius: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    font-weight: 500 !important;
    color: var(--color-white);
    /* box-shadow: var(--shadow-md); */

    @media (min-width: 1024px) {
        padding: 1.5rem;
        justify-content: flex-start;
    }

    &:hover {
      @media (hover: hover) {
        color: var(--color-white);
        cursor: pointer;
      }
    }
  }
  /* End Buttons */
}

/* Firefox: knop-padding en line-height (o.a. i.c.m. text-box fallback) */
@supports (-moz-appearance: none) {
  .btn {
    padding: 20px;
    line-height: 100%;
  }

  @media (min-width: 1024px) {
    .btn {
      padding: 20px;
    }
  }
}
